<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>출석</title>
</head>
<body>
<h1>출석</h1>
<form action="/usereduatten/register" method="post">
  <label>부서:</label>
  <input type="text" id="attenDepartment" name="attenDepartment" required><br><br>

  <label>이름:</label>
  <input type="text" id="attenName" name="attenName" required><br><br>

  <label>사원 번호:</label>
  <input type="text" id="attenEmployeeNumber" name="attenEmployeeNumber" required><br><br>

  <input type="submit">
</form>
</body>
</html>



