<!DOCTYPE html>
<html>
<head>
    <title>교육 일정 등록</title>
</head>
<body>
<h1>교육 일정 등록</h1>
<form action="/edu/reg" method="post">
    <label for="eduCategory">교육 분류:</label>
    <select id="eduCategory" name="eduCategory" required>
        <option value="CREW">크루미팅</option>
        <option value="MANAGE">관리감독자</option>
        <option value="DM">DM미팅</option>
    </select><br><br>


    <label for="eduInstructor">강사:</label>
    <input type="text" id="eduInstructor" name="eduInstructor" required><br><br>

    <label for="eduPlace">장소:</label>
    <input type="text" id="eduPlace" name="eduPlace" required><br><br>

    <label for="eduStartTime">교육 시작 시각:</label>
    <input type="datetime-local" id="eduStartTime" name="eduStartTime" required><br><br>

    <label for="eduEndTime">교육 종료 시각:</label>
    <input type="datetime-local" id="eduEndTime" name="eduEndTime" required><br><br>

    <label for="eduSumTime">교육 시간:</label>
    <input type="number" id="eduSumTime" name="eduSumTime" required><br><br>

    <label for="eduTarget">교육 대상:</label>
    <select id="eduTarget" name="eduTarget" required>
        <option value="F">현장</option>
        <option value="O">사무</option>
        <option value="T">전체</option>
    </select><br><br>

    <label for="eduContent">교육 내용:</label><br>
    <textarea id="eduContent" name="eduContent" rows="4" cols="50" required></textarea><br><br>

    <label for="eduWriter">작성자:</label>
    <input type="text" id="eduWriter" name="eduWriter" required><br><br>

    <input type="submit" value="등록">
</form>
</body>
</html>
