<!DOCTYPE html>
<html>
<head>
    <title>기준정보</title>
</head>
<body>
<h1>기준정보 등록</h1>
<form action="/master" method="post">
    <label for="masterdataPart">영역:</label>
    <select id="masterdataPart" name="masterdataPart" required>
        <option value="주조">주조</option>
        <option value="압출">압출</option>
        <option value="가공">가공</option>
        <option value="품질">품질</option>
        <option value="생산기술">생산기술</option>
        <option value="금형">금형</option>
    </select><br><br>

    <label for="masterdataFacility">설비:</label>
    <input type="text" id="masterdataFacility" name="masterdataFacility" required><br><br>
    <input type="submit" value="기준정보 등록">
</form>

<h1>이메일정보 등록</h1>
<form action="/master/email" method="post">
    <label for="masterdata">영역:</label>
    <select id="masterdata" name="masterdata" required>
        <option value="1">주조</option>
        <option value="2">압출</option>
        <option value="3">가공</option>
        <option value="4">품질</option>
        <option value="5">생산기술</option>
        <option value="6">금형</option>
    </select><br><br>

    <label for="emailName">이름:</label>
    <input type="text" id="emailName" name="emailName" required><br><br>

    <label for="emailAdd">이메일:</label>
    <input type="text" id="emailAdd" name="emailAdd" required><br><br>

    <label for="masterStatus">고정 수신 여부:</label>
    <select id="masterStatus" name="masterStatus" required>
        <option value="Y">Y</option>
        <option value="N">N</option>
    </select><br><br>

    <input type="submit" value="이메일 등록">
</form>

    <h2>영역별 설비</h2>
    <div class="table-container" style="height: 800px">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>영역</th>
                <th>설비</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="masterData, status: ${masterDataList}">
                <td>  </td>
                <td th:text="${masterData.masterdataPart}"></td>
                <td th:text="${masterData.masterdataFacility}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2>이메일 목록 조회</h2>
    <table>
        <thead>
        <tr>
<!--            <th>이메일 ID</th>-->
            <th>영역</th>
            <th>이름</th>
            <th>이메일 주소</th>
            <th>이메일 고정수신 여부</th>
        </tr>
        </thead>
        <tbody>
        <tr>
<!--            <td>1</td> &lt;!&ndash; 등록된 이메일의 ID &ndash;&gt;-->
            <td>영역_주조</td> <!-- 해당 이메일이 속한 기준정보의 설비 -->
            <td>이름</td>   <!-- 이름-->
            <td>example1@example.com</td> <!-- 등록된 이메일 주소 -->
            <td>고정수신여부</td> <!-- 이메일 고정수신여부 -->
        </tr>
        <!-- 추가로 등록된 이메일들에 대한 행들을 반복해서 생성 -->
        </tbody>
    </table>



</body>
</html>
